* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-bottom: 2px solid #35b824;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 30px;
  padding: 5px;
  border-radius: 5px;
  color: #000;
}

nav a:hover {
  background-color: #35b824;
  box-shadow: 0px 14px 56px -11px #35b824;
}

.navbar-brand {
  height: 150%;
}

.hero {
  background: linear-gradient(180deg, #40e22b, #000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
}

.hero h1 {
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero img {
  width: 60%;
  flex: 1;
  animation: slideInRight 2s ease-in-out;
}

.hero img:hover {
  cursor: pointer;
}

.about {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.about-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  padding-bottom: 20px;
  border-radius: 20px;
}

.about-table:hover {
  box-shadow: 0px 14px 56px -11px #35b824;
  cursor: pointer;
}

.ringkasan {
  height: 100vh;
  background: linear-gradient(180deg, #06ffc9, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.ringkasan .card {
  height: 50px;
  margin: 5px;
  align-items: flex-start;
}

.portafolio {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.portafolio img {
  height: 200px;
  margin: 5px;
  flex-direction: row;
}

.portafolio-text {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact {
  height: 100vh;
  background: linear-gradient(180deg, #003cff, #000);
  background: linear-gradient(180deg, #000, #003cff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.contact-judul {
  flex-direction: start;
  justify-content: center;
  align-items: center;
}

.contact-list {
  display: flex;
  flex-direction: start;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-list button {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: black;
}

@media (max-width: 768px) {
  .hero img {
    width: 10%;
    margin: 20px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .navbar {
    margin: auto;
  }

  .about {
    padding: 20px;
  }

  .nav-link {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: black;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
